<!DOCTYPE html>
<html lang="pt-br" class="h-100">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <title>X9 Bot</title>
  </head>
  <body class="d-flex h-100 bg-dark text-white">
    <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
      <header class="mb-auto text-white bg-dark">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">
            <img
              src="{{ url_for('static', filename='img/icon.png') }}"
              width="30"
              height="30"
              class="d-inline-block align-top"
              alt=""
              id="logo"
            />
            X9 Bot
          </a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#destaques">Destaques</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contribuicao">Contribuição</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <main class="px-3 text-center">
        <section class="lead d-flex flex-column">
          <h1>X9 Bot</h1>
          <p class="lead">
            Projeto de bot para Discord utilizando Python e discord.py. Uso
            exclusivamente pessoal.
          </p>
          <p class="lead">
            <a
              href="https://github.com/GlauciaLS/x9-bot"
              target="_blank"
              class="btn btn-light fw-bold"
              >Repositório no GitHub</a
            >
          </p>
        </section>

        <section
          class="lead d-flex flex-column bg-light text-dark"
          id="destaques"
        >
          <h1>Destaques</h1>

          <div class="cards d-flex d-row">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Avisos</h5>
                <p class="card-text">
                  Seja notificado quando alguém reativa o áudio ou ingressa em
                  um canal de voz, podendo ser reconhecido pelo áudio tocado
                  pelo bot.
                </p>
                <p id="warning-span">(<s>shhh, o assunto voltou</s>)</p>
              </div>
            </div>

            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Efeitos sonoros</h5>
                <p class="card-text">
                  Emita seus efeitos sonoros favoritos, inclusive músicas e
                  memes. Você mesmo pode escolher o nome para cada comando!
                </p>
              </div>
            </div>

            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">GIFs</h5>
                <p class="card-text">
                  Além de áudios em geral, inclua também GIFs a serem exibidos
                  no chat ao ativar algum comando em específico :)
                </p>
              </div>
            </div>
          </div>
        </section>

        <section class="lead d-flex flex-column" id="contribuicao">
          <h1>Contribuição</h1>

          <p>
            Deseja adicionar um áudio ou GIF ao bot? Faça o upload dele aqui:
            <br />
            <strong>Só são permitidos arquivos do tipo MP3 e GIF!</strong>
          </p>

          <form
            method="post"
            enctype="multipart/form-data"
            action="https://localhost:8080/file"
            id="file-form"
          >
            <input
              class="form-control"
              type="file"
              id="file-input"
              accept=".mp3,.gif"
            />
            <br />
            <button class="btn btn-light fw-bold" type="submit">Enviar</button>
          </form>
        </section>
      </main>

      <footer class="mt-auto text-center text-white-50">
        <p>
          Desenvolvido por
          <a
            href="https://github.com/GlauciaLS/"
            target="_blank"
            class="text-white"
            >Glaucia Silva</a
          >
        </p>
      </footer>
    </div>
  </body>
</html>
