html {
  scroll-behavior: smooth;
}

nav.navbar {
  height: 65px;
  padding: 10px 100px;
}

section {
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section h1 {
  height: 70px;
}

a#link-repo {
    margin: 20px 0;
}

.card {
  margin: 0px 20px;
  padding: 20px;
}

p#warning-span {
  font-size: 10px;
  font-weight: bold;
}

#file-form {
  margin: 30px 0;
}

input.form-control {
  width: 400px;
}

.display-none {
  display: none !important;
}
